@import "tailwindcss";

html, body {
  height: 100%;
  background-color: #f9fafb; /* equivalente a bg-gray-50 */
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #171717;
}
